.main {
  padding-top: 28px;
}

.main__description {
  margin: 40px 0 34px;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.main__cards-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.main__card-item {
  margin: 0;
}
