.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

/* LEFT SIDE */
.header__left {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header__logo {
  margin: 0;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  color: #000;
  text-decoration: none;
}

.header__date-location {
  margin: 0;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

/* RIGHT SIDE */
.header__right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__add-btn {
  border: none;
  background: none;
  cursor: pointer;

  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.header__username {
  margin: 0;

  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
}

.header__profile-link {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #000;
  text-decoration: none;
}

.header__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.header__logo:hover,
.header__profile-link:hover,
.header__add-btn:hover {
  opacity: 0.6;
}

@media screen and (max-width: 900px) {
  .header {
    flex-wrap: wrap;
  }

  .header__left,
  .header__right {
    width: 100%;
    justify-content: space-between;
  }
}

@media screen and (max-width: 560px) {
  .header {
    align-items: flex-start;
  }

  .header__left {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }

  .header__right {
    gap: 12px;
  }

  .header__date-location,
  .header__add-btn,
  .header__username {
    font-size: 16px;
    line-height: 20px;
  }

  .header__username {
    display: none;
  }
}
